<h1>Hello {{name}},</h1>
<p>
  We have received a request to reset your password. If you did not make this
  request, please ignore this email. Otherwise, you can reset your password
  using the OTP below.
</p>
<hr/>
<strong> {{otp}} </strong>
<hr />
<div>
  Thank you,
  <br />
  <i>TextBee.dev</i>
</div>