<h1>Hi {{name}},</h1>
<p>
My name is Vernu, and I'm the founder of TextBee.
<br /><br />

I built TextBee to help you with your messaging needs. be it sending OTP, notifications, or automated messaging workflows for your business.
<br/><br/>

Here are few tips to get you started: <br/><br />

<ol start="1">
  <li><a href="https://github.com/vernu/textbee">Explore our Documentation: Learn how to integrate TextBee with your existing systems in the github readme</a></li>
  <li><a href="https://discord.gg/d7vyfBpWbQ">Join the Community on Discord and get help: Connect with other users and developers, ask questions, and share ideas on our Community Forum.</a></li>
  <li><a href="https://www.patreon.com/vernu">Support Our Work: Consider supporting us on Patreon to help us continue improving TextBee.</a></li>
  <li><a href="https://github.com/vernu/textbee">Star our repo on Github</a></li>
<br /> <br/>
<hr/>

P.S. Why did you choose TextBee? What feedback do you have? <br/>
Do you have any questions or need assistance? <br/>
Feel free to reach out to our support team at <a href="mailto:contact@textbee.dev">contact@textbee.dev</a>. <br/>
we read and respond to all emails as quickly as possible.
</p>
<hr/>
<div>
Cheers,  <br />
Vernu, founder <br />
<br />
  <i>TextBee.dev</i>
</div>


